.panel-coe,
.panel-coe-orange {
    border: none !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8) !important;
}

.panel-coe > .panel-heading {
    color: #FFF;
    background: #00aeff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.2px;
}

.panel-coe-orange > .panel-heading {
    color: #FFF;
    background: #ff9212;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.2px;
}

.panel-coe-orange > .panel-heading small {
    font-size: 75%;
}

.panel-coe-orange .panel-body .row {
    border-bottom: 1px solid #EEE;
    padding: 5px 0;
}

.coe-cb {
    font-size: 80%;
    border-bottom: 1px solid #EEE;
    padding: 5px 0;
    cursor: pointer;
    color: #999;
    font-weight: normal;
}

.coe-cb-checked {
    color: #000;
}

.coe-filter-arrow {
    cursor: pointer;
}

#coe-map {
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8) !important;
}